.card-container {
  width: 100%;
  min-height: 250px;
  border: 1px solid #444c56;
  margin-bottom: 3rem;
  border-radius: 6px;
  padding: 1.5rem;
}
.card-links {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  cursor: pointer;
  margin-top: 1em;
}

.card-links-featured {
  background-color: #22272e;
}

.card-links a {
  font-family: "display-text";
  font-size: 0.8rem;
  color: #768390;
  margin-left: 0.5rem;
}

.card-links a:hover {
  color: #986ee2;
}

.card-container h4 {
  color: #adbac7;
  font-family: "display-text-bold";
  font-size: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.card-container-header {
  display: flex;
  justify-content: space-between;
}

// Small Mobile devices
@media (min-width: 0px) and (max-width: 599px) {
  .card-container {
    padding: 1rem;
  }
  .card-container h4 {
    font-size: 1.2em;
  }
  .card-container-header-text {
    width: 70%;
  }
  .card-container h4 {
    font-size: 1em;

    line-height: 1.5;
  }
}
