.card-container {
  width: 100%;
  height: 250px;
  border: 1px solid #444c56;
  margin-bottom: 3rem;
  border-radius: 6px;
  padding: 1.5rem;
}
.card-links {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  cursor: pointer;
  margin-top: 1em;
}

.card-links-featured {
  background-color: #22272e;
}

.card-links a {
  font-family: "display-text";
  font-size: 0.8rem;
  color: #768390;
  margin-left: 0.5rem;
}

.card-links a:hover {
  color: #986ee2;
}
