.card-container {
  width: 100%;
  min-height: 250px;
  border: 1px solid #2b323d;
  margin-bottom: 3rem;
  border-radius: 6px;
  padding: 1.5rem;
  cursor: pointer;
  // background-color: #212831;
}

.card-container a {
  font-family: "IBM Plex Sans", sans-serif, "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0 0;
  margin: 0 0;
  line-height: 1;
  font-size: 1.1em;
  color: #adbac7;
  // color: #b7bdc6;
  line-height: 1.5;
}
.card-links {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  cursor: pointer;
  margin-top: 1em;
}

.card-container .card-links-code a:hover {
  color: #986ee2;
}

// .card-links-featured {
//   // background-color: #22272e;
// }

// .card-links a:hover {
//   color: #212831;
// }

.card-container h4 {
  color: #adbac7;

  margin-bottom: 0.5em;
  line-height: 1.2;
}

.card-container-header {
  display: flex;
  justify-content: space-between;
}

// Small Mobile devices
@media (min-width: 0px) and (max-width: 599px) {
  .card-container {
    padding: 1rem;
  }
  .card-container h4 {
    font-size: 1.2em;
  }
  .card-container-header-text {
    width: 70%;
  }
  .card-container h4 {
    font-size: 1em;

    line-height: 1.5;
  }
}
