.home-container {
  display: flex;
  max-width: 100vw;
}

.home-grid-1 {
  width: 100px;
  position: fixed;
  z-index: 10;
}
.home-grid-2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: #0d1116;
}

.home-grid-2-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: url("../../assets/svg/home-page-background.svg") no-repeat right;
}

// Home Content

.home-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 80%;
  min-height: 30vh;
  margin: auto;
  padding-top: 7rem;
}

.home-body {
  min-height: 50vh;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.intro-text {
  max-width: 800px;
}

.tools-accordion {
  background-color: transparent;
}

.home-bottom {
  min-height: 20vh;
  // background: url("../../assets/svg/home-page-geometric.svg") no-repeat bottom;
}

// Accordion

.tools-accordion {
  width: 500px;
}

.bx--accordion__heading:hover::before {
  background-color: transparent;
}

.bx--accordion__content {
  width: 500px;
  padding-right: 0;
}

// Discover

.home-grid-2-discover {
  margin-top: 100vh;
  min-height: 100vh;
  width: 100%;
  padding-left: 100px;
  position: absolute;
  z-index: 1;
  background: #f1f4f7;
}

.home-discover-content {
  width: 80%;
  min-height: 30vh;
  margin: auto;
  padding-top: 7rem;
  // background-color: green;
}

.home-discover-content-1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.home-discover-content-2 {
  margin-top: 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.home-discover-content-2 h1 {
  color: #465a69;
  font-size: 6rem;
}
.home-discover-content-2 h4 {
  color: #465a69;
  font-size: 1rem;
}

.home-discover-content-3 {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.discover-app-box {
  min-width: 500px;
  max-width: 500px;
  height: 400px;
  padding: 1rem;
}

.app-box-1 {
  background-color: #15bda5;
}
.app-box-2 {
  background-color: #20252d;
}
.app-box-3 {
  background-color: #fa4d56;
}
// Carbon Overrides

.bx--accordion__title {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0rem;
  font-family: "display-text-light", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0, 0;
  margin: 0, 0;
  margin-left: 1rem;
}

.bx--accordion__item:last-child {
  border-bottom: none;
  border-top: none;
}

.bx--accordion__item--active .bx--accordion__arrow {
  fill: #ffffff;
}
.bx--accordion__arrow {
  fill: #ffffff;
}

.bx--accordion__heading::before {
  background-color: transparent;
}
.bx--accordion:hover {
  background-color: transparent;
}

// Small Mobile devices
@media (max-width: 320px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Small - Medium devices
@media (min-width: 320px) and (max-width: 480px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Big phones and Small Tablets
@media (min-width: 481px) and (max-width: 768px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Tablets  and small screens
@media (min-width: 769px) and (max-width: 1024px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}

// Tablets Landscape and Medium  Screens
@media (min-width: 1025px) and (max-width: 1200px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}

// Large - Extra Large Screens

@media (min-width: 1201px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}
