.home-container {
  display: flex;
  max-width: 100vw;
}

.home-grid-1 {
  width: 100px;
  position: fixed;
  z-index: 10;
}
.home-grid-2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: hsl(222, 20%, 8%);
}

.home-grid-2-content {
  width: 100%;
  position: absolute;
  z-index: 1;
}

// Home Content

.home-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 80%;
  height: 30vh;
  margin: auto;
  padding-top: 7rem;
  background-color: #101318;
}

.home-body {
  height: 50vh;
  width: 80%;
  margin: auto;
}
.home-bottom {
  height: 20vh;
  background: url("../../assets/svg/home-page-geometric.svg") no-repeat bottom;
}

// Small Mobile devices
@media (max-width: 320px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Small - Medium devices
@media (min-width: 320px) and (max-width: 480px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Big phones and Small Tablets
@media (min-width: 481px) and (max-width: 768px) {
  .home-grid-1 {
    width: 0px;
  }
}

// Tablets  and small screens
@media (min-width: 769px) and (max-width: 1024px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}

// Tablets Landscape and Medium  Screens
@media (min-width: 1025px) and (max-width: 1200px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}

// Large - Extra Large Screens

@media (min-width: 1201px) {
  .home-grid-2-content {
    padding-left: 100px;
  }
}
