.side-nav {
  background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
  min-height: 100vh;
  width: 100px;
}

.side-nav-content {
  margin: 0rem;
  padding: 0rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  margin-top: 2vh;
}

.side-nav-item {
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

@media (max-width: 800px) {
  .side-nav {
    display: none;
  }
}
