.blog-home-container {
  width: 100vw;
  display: flex;
}

.blog-home-content-container {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  margin-left: 350px;
}

// Blog Content

.blog-home-content {
  width: 100%;
}

.blog-home-content-items {
  width: 800px;
  margin: auto;
}

.blog-home-featured-container {
  margin-top: 4rem;
  height: 600px;
}

.blog-home-featured-image {
  //   min-width: 200px;
  overflow: hidden;
  height: 400px;
}

.blog-home-featured-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-home-featured-description {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
}

.blog-content-featured-tags {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
}

// Articles

.blog-home-articles-container {
  margin-top: 4rem;
  display: flex;
}

.blog-home-articles-image {
  width: 450px;
  overflow: hidden;
  height: 190px;
}

.blog-home-articles-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-home-articles-description {
  width: 100%;
  height: 170px;
  margin-left: 2rem;
}

// Options Nav

.blog-home-options {
  width: 700px;
}

.blog-home-options-container {
  margin-top: 6rem;
  width: 70%;
}

// SideNav
.blog-home-sidenav {
  width: 350px;
  border-right: 1px solid #444c56;
  min-height: 100vh;
  position: fixed;
  padding-top: 2rem;
}

.blog-home-sidenav-container {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  border-bottom: 1px solid #444c56;
}

.blog-last {
  border-bottom: none;
}

.blog-home-sidenav-content {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.blog-sidenav-category-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 1rem;
}
.blog-sidenav-category-item a {
  color: #adbac7;
  margin-left: 0.5rem;
}

.blog-sidenav-category-item a:hover {
  color: #539bf5;
}

.blog-sidenav-filters {
  display: flex;
  flex-wrap: wrap;
}
