.home-grid-header {
  padding-left: 100px;
  background: hsl(222, 20%, 8%);
  padding-top: auto;
  padding-bottom: auto;
  height: 100px;
  display: flex;
  // background: url("../../assets/svg/home-page-geometric.svg") no-repeat;
}

// .home-grid-2-content {
//   padding-left: 100px;
//   background: hsl(222, 20%, 8%);
// }

.home-grid-2-content-header {
  padding-top: 1.2rem;
  width: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-2%, -2%);
}

.logo-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.featured-article {
  height: 500px;
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  background: transparent;
}

.featured-article-image {
  background-color: hsl(222, 20%, 8%);
  position: relative;
}

.featured-article-description {
  position: absolute;
  width: 80%;
  margin: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.featured-article-description h4 {
  color: #ffffff;
}

.blog-nav {
  height: 80px;
  background-color: #ffffffe1;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-tabs {
  flex-basis: 60%;
  border-right: 1px solid black;
}
.nav-search {
  flex-basis: 20%;
  border-right: 1px solid black;
}
.nav-actions {
  flex-basis: 20%;
}

.nav-tabs-content {
  display: flex;
  width: 65%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.nav-tab-0,
.nav-tab-1,
.nav-tab-2,
.nav-tab-3,
.nav-tab-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-tab-0:hover,
.nav-tab-1:hover,
.nav-tab-2:hover,
.nav-tab-3:hover,
.nav-tab-4:hover {
  border-bottom: 4px solid #0f62fe;
}

.blog-grid {
  min-height: 100vh;
  background-color: #f0f5f5;
  padding-top: 4rem;
  display: none;
}

.blog-item {
  background-color: #ffffff;
  width: 80%;
  height: 150px;
  margin: auto;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.blog-item:hover {
  background-color: #f0f5f5;
}

.blog-grid.selected {
  display: block;
}

// Small Mobile devices
@media (max-width: 320px) {
  .home-grid-2-content {
    padding-left: 0px;
  }
  .blog-nav {
    display: none;
  }
  .home-grid-header {
    padding-left: 0px;
  }
}

// Small - Medium devices
@media (min-width: 320px) and (max-width: 480px) {
  .home-grid-2-content {
    padding-left: 0px;
  }
  .blog-nav {
    display: none;
  }
  .home-grid-header {
    padding-left: 0px;
  }
}

// Big phones and Small Tablets
@media (min-width: 481px) and (max-width: 768px) {
  .home-grid-2-content {
    padding-left: 0px;
  }
  .blog-nav {
    display: none;
  }
  .home-grid-header {
    padding-left: 0px;
  }
}

// Tablets  and small screens
@media (min-width: 769px) and (max-width: 1024px) {
  .blog-nav {
    display: none;
  }
}

// Tablets Landscape and Medium  Screens
@media (min-width: 1025px) and (max-width: 1200px) {
}

// Large - Extra Large Screens

@media (min-width: 1201px) {
}
